# Python
backend/venv/
backend/__pycache__/
**/__pycache__/
*.pyc

# Dataset
backend/dataset/

# Uploads
backend/uploads/

# Training outputs
backend/runs/

# Node
frontend/node_modules/

# React build
frontend/dist/

# VS Code
.vscode/

# Environment
.env